[core]
editor = vim
excludesfile = ~/.gitignore_global

[user]
email = yuma.matsune@gmail.com
name = matsune

[push]
default = current

[alias]
b = branch
f = fetch
puo = push -u origin
m = merge
mom = merge origin/main
mod = merge origin/develop
s = switch --recurse-submodules
sd = s develop
sm = s main
sc = switch -c
st = status
r = restore
c = !echo "deprecated: use switch/restore"
pr = pull --recurse-submodules
sp = switch prod

[init]
defaultBranch = main
[pull]
	rebase = false

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
