[core]
  editor = vim
	excludesfile = /Users/matsune/.gitignore_global

[user]
	email = yuma.matsune@gmail.com
	name = matsune

[push]
  default = current

[alias]
  b = branch
  f = fetch
  fo = fetch origin
  fom = fetch origin main
  fod = fetch origin develop
  p = push
  puo = push -u origin
  puom = push -u origin main
  puod = push -u origin develop
  m = merge
  mom = merge origin/main
  mod = merge origin/develop
  c = checkout 
  cm = checkout main
  cb = checkout -b
  cd = checkout develop
  s = status

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /private/var/folders/16/cg3qdxf93gz8qr9pdvjddd740000gp/T/AppTranslocation/0D304D0B-4E9B-4309-9F73-E60A4C645D8E/d/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/matsune/.stCommitMsg
